*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html,
body {
    scroll-behavior: smooth;
    transition: all 0.225 ease-in-out;
}

body::-webkit-scrollbar {
    display: none;
}

/* Preloader */
.preloader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    background-color: #040524;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background: transparent;
    border: 3px solid #080930;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle img {
    width: 170px;
}

.circle::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid transparent;
    border-top: 5px solid rgb(52, 52, 52);
    border-right: 5px solid rgb(52, 52, 52);
    border-radius: 50%;
    animation: animateCicrle 2s infinite;
}

@keyframes animateCicrle {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}

.preload-finish {
    opacity: 0;
    pointer-events: none;
    transition-delay: 2s;
}

/* Sticky Navbar */
header nav {
    transition: all 0.3s ease-in-out;
}

header nav a {
    color: #fff;
    transition: color 0.2s ease-in-out;
}

nav.scrolled {
    background-color: #fff;
    opacity: 0.98;
}

nav.scrolled a, 
nav.scrolled {
    color: #000;
}

nav .logos {
    display: none;
}

/* Slide */
.slick-slide {
    margin: 15px;
}

.slick-next:before,
.slick-prev:before {
    color: #d5daea !important;
    font-size: 24px !important;
}

#foydali-havolalar .slick-next:before,
#foydali-havolalar .slick-prev:before {
    color: #F1F3F9 !important;
    font-size: 24px !important;
}

/* Map */
#vmap {
    width: 500px;
    height: 600px;
}

.jqvmap-label {
    position: absolute;
    display: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    color: white;
    font-family: sans-serif, Verdana;
    font-size: smaller;
    padding: 3px;
    pointer-events: none;
}

.jqvmap-pin {
    pointer-events: none;
}

.jqvmap-zoomin,
.jqvmap-zoomout {
    display: none
}

.jqvmap-region {
    cursor: pointer;
}

.jqvmap-ajax_response {
    width: 100%;
    height: 500px;
}

.logo_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: flex;
    justify-content: space-between;
    height: 650px;
    overflow: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 1px;
}

/* ::-webkit-scrollbar-track {
    border: 1px solid red;
} */

.right_side {
    margin-left: 20px;
}

.logo_name {
    margin-top: 1rem;
}

.logo_text {
    font-size: 14px;
    width: 200px;
    line-height: 15px;
    margin-left: 5px;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    margin-top: 7px;
}

.phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 90px;
    margin-top: 7px;    
}

.phone_text {
    width: 200px;
    font-size: 12px;
    line-height: 15px;
}

.location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    margin-top: 7px;
}

.content_text {
    font-size: 12px;
    line-height: 15px;
    margin-left: 3px;
}

.btn {
    margin-top: 8px;
    padding: 0.4rem 1rem;
    background-color: #2861F5;
    border-radius: 4px;
    color: #fff;
    margin-left: 5px;
}

#menu-icon {
    font-size: 35px;
    color: #fff;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

@media (max-width: 2000px) {
    #vmap {
        width: 750px;
        height: 600px;
    }
}

@media (max-width: 1200px) {
    #vmap {
        width: 750px;
        height: 600px;
    }
}

/* hhhh */
@media (max-width: 1024px) {
    nav.scrolled {
        display: none;
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 100%;
        width: 100%;
        height: 60vh;
        background: #000;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }

    .navbarr {
        padding: 15px 40px;
    }

    .navbarr {
        padding: 15px 30px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .navbar a:hover {
        color: red;
        transform: translateY(5px);
    }

    .navbar.open {
        right: 2%;
    }

    .right_side {
        margin-left: 13rem;
    }
}

@media (max-width: 1280px) {
    .right_side {
        margin-left: 16rem;
    }
}

@media (max-width: 992px) {
    nav.scrolled {
        display: none;
    }

    #menu-icon {
        display: block;
    }

    .navbarr {
        padding: 15px 40px;
    }

    .navbarr {
        padding: 15px 30px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 100%;
        width: 100%;
        height: 35vh;
        background: #000;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }

    .navbar a:hover {
        color: red;
        transform: translateY(5px);
    }

    .navbar.open {
        right: 2%;
    }

    #foydali-havolalar .item p {
        width: 130px;
        font-size: 15px;
    }

    footer ul li a{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    #vmap {
        width: 600px;
    }

    .card {
        display: block;
    }

    .right_side {
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    nav.scrolled {
        display: none;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 100%;
        width: 100%;
        height: 60vh;
        background: #000;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }

    #vmap {
        width: 300px;
    }

    .card {
        display: block;
    }
}