* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.logo-slider .slick-slide {
    margin: 15px;
}

.slick-next:before,
.slick-prev:before {
    
    color: #d5daea !important;
    font-size: 24px !important;
}